<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Jobs Search</title>
  <style>
    body {
      background-color: #F5F5F5;
    }

    .searchMargin {
      margin-top: 4em
    }

    .divLink a h5 {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0.3em;
      left: 1em;

      /* edit: added z-index */
      z-index: 1;
    }

    .textPad {
      padding-top: 0.9em;
      padding-bottom: 0x;
    }

    .mTop {
      margin-top: 2%;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <form action="/find_jobs" method="post">
          <div class="input-group mb-3 searchMargin">
            <input type="text" class="form-control" name="search_tags" id="search_tags" placeholder="Search for jobs......" aria-label="search for jobs"
              aria-describedby="jobSearch">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Search</button>
            </div>
          </div>
        </form>
        <div class="job-cards">
          <% for(var i=0; i < jobs.length; i++) { %>
            <div class="card mTop">
              <div class="card-body divLink">
                <a href="/job/<%= jobs[i]._id %>"> 
                <h5>
                  <%= jobs[i].listing.job_heading %> -
                    <%= jobs[i].listing.company_name %>
                </h5>
                </a> 
                <p class="text-muted textPad">
                  <%= jobs[i].listing.location %>
                    <br>
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Posted on :
                    <%= jobs[i].listing.posting_date %>
                      <br>
                      <i class="fa fa-calendar" aria-hidden="true"></i> Apply By :
                      <%= jobs[i].listing.validUntil %>
                </p>
              </div>
            </div>
            <% } %>
        </div>
        <br>
        <ul class="pagination justify-content-center">
          <% if (current_page>1) { %>
            <li class="page-item">
              <a class="page-link" href="/all_jobs/<%= current_page-1 %>">Previous</a>
            </li>
            <% } else {%>
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" href="/all_jobs/<%= current_page-1 %>">Previous</a>
              </li>
              <% } %>
                <% for(var i=1; i <= ((no_of_pages/5)+1); i++) { %>
                  <li class="page-item">
                    <a class="page-link" href="/all_jobs/<%= i %>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>
                    <% if (current_page<=(no_of_pages/5)) { %>
                      <li class="page-item">
                        <a class="page-link" href="/all_jobs/<%= current_page+1 %>">Next</a>
                      </li>
                      <% } else {%>
                        <li class="page-item disabled">
                          <a class="page-link" tabindex="-1" href="/all_jobs/<%= current_page+1 %>">Next</a>
                        </li>
                        <% } %>
        </ul>
      </div>
      <div class="col-2"></div>
    </div>
  </div>



  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $(".mTop").click(function () {
      $.ajax({
        type: "GET",
        url: `http://localhost:4040/job/5b0d396403aa452e6c9fba3b`,
        dataType: "json",
        success: display_loc,
        error: console.log("Error!")
      });
    });
  </script>
</body>

</html>