<!doctype html>
<html lang="en">

<head>
  <%- include gta_head.ejs %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <title>
    <%= user.details.full_name %>'s Profile
  </title>

  <style>
    .bodyClass {
      padding-top: 70px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      background-color: #B71C1C;
    }

    body {
      background-color: #B71C1C;
    }
    
  </style>
</head>

<body>
  <%- include gta_body.ejs %>
  <div class="bodyClass">
    <div class="card mb-3">
      <div class="card-body text-center">
        <h3 class="card-title">
          <u>Profile</u>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body text-center">
            <% if(user.picture.profile_picture_name) { %>
              <div class="img_format">
                <img src="profile_pictures/<%=user.picture.profile_picture_name%>" alt="profileImage" class="rounded-circle img-fluid"
                height="250" width="250">
              </div>
            <% } else{ %>
              <div class="img_format">
                <img src="http://loganfuneralchapel.com/wp-content/uploads/2017/01/generic-profile-avatar_352864.jpg" alt="profileImage" class="rounded-circle img-fluid"
                  height="250" width="250">
              </div> 
            <% } %>
            <br>
            <br>
            <h4 class="card-title">
              <u>
                <%= user.details.full_name %>
              </u>
            </h4>
            <p class="card-text">
              <%= user.local.email%>
            </p>

            <a href="/profile/uploadPicture" class="btn btn-outline-primary">Upload Photo</a> &nbsp;
            <a href="/profile/update" class="btn btn-outline-secondary">Update Profile</a> &nbsp;
            <a href="/logout" class="btn btn-outline-danger">Logout</a> &nbsp;
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Full Name : </h5>
            <p class="card-text"><%= user.details.full_name%></p>
            <h5 class="card-title">Applying for : </h5>
            <p class="card-text"><%= user.details.domain%>---<%= user.details.position%></p>
            <h5 class="card-title">Gender : </h5>
            <p class="card-text"><%= user.details.gender%></p>
            <h5 class="card-title">Date of Birth : </h5>
            <p class="card-text"><%= user.details.dateofbirth%></p>
            <h5 class="card-title">City : </h5>
            <p class="card-text"><%= user.details.city%></p>
            <h5 class="card-title">State : </h5>
            <p class="card-text"><%= user.details.state%></p>
            <h5 class="card-title">Zip Code : </h5>
            <p class="card-text"><%= user.details.zip_code%></p>
            <h5 class="card-title">Skills : </h5>
            <p class="card-text"><%= user.details.skills%></p>
            <h5 class="card-title">Experience : </h5>
            <p class="card-text"><%= user.details.experience%></p> 
            <h5 class="card-title">Education : </h5>
            <p class="card-text"><%= user.details.education%></p>              
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>